*.pyc
*.swp
*.iml
USNationalsApp/.gradle
USNationalsApp/local.properties
USNationalsApp/.idea/misc.xml
USNationalsApp/.idea/workspace.xml
USNationalsApp/.idea/libraries
USNationalsApp/.DS_Store
USNationalsApp/build
USNationalsApp/app/app-release.apk
USNationalsApp/app/build
USNationalsApp/app/google-services.json
scripts/scorecards/*.aux
scripts/scorecards/*.log
scripts/scorecards/*.pdf
scripts/scorecards/*.tex
lib/
