<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
  <title>US Nationals Device Admin</title>
</head>
<body>
  <h3>US Nationals Device Admin</h3>
  <table>
    <tr>
      <th>Device Password</th>
      <th>Admin?</th>
      <th>Competitor</th>
      <th></th>
    </tr>
    {% for device in devices %}
      <form action="{{ path}}" method="POST">
        <tr>
          <td>{{ device.password }}</td>
          <td>
            <input type="checkbox"
                   name="is_admin"
                   {% if device.is_admin %} checked{% endif %}></input>
          </td>
          <td>
            <select name="competitor">
              <option value="0"></option>
              {% for competitor in competitors %}
                <option value="{{ competitor.key.id() }}"
                        {% if device.competitor == competitor.key %} selected {% endif %}>
                  {{ competitor.name }}
                </option>
              {% endfor %}
            </select>
          </td>
          <td>
            <input type="hidden" name="password" value="{{ device.password }}"></input>
            <button type="submit" name="submit">Submit</button>
          </td>
        </tr>
      </form>
    {% endfor %}
  </table>
</body>
</html>
{% endautoescape %}
