<h2>{{ title }}</h2>
<table>
  <tr>
    <th>Time</th>
    <th>Groups</th>
    <th>Name</th>
  </tr>
  {% set ns = namespace(current_day = 28) %}
  {% for assignment in all_assignments %}
    {% set first = assignment['jobs'][0] %}
    {% set last = assignment['jobs'][-1] %}
    {% if first.group.get().start_time.day != ns.current_day %}
      <tr>
        <td colspan=3>
          <b>{{ first.group.get().start_time.strftime('%A') }}</b>
        </td>
      </tr>
      {% set ns.current_day = first.group.get().start_time.day %}
    {% endif %}
    <tr>
      <td>
        {{ format(first.group.get().start_time) }} &mdash;
        {{ format(last.group.get().end_time) }}
      </td>
      <td>
        {{ first.group.get().round.get().event.get().name }} Group {{ first.group.get().Num() }}
        {% if first != last %}
          &mdash; {{ last.group.get().round.get().event.get().name }} Group {{ last.group.get().Num() }}
        {% endif %}
      </td>
      <td>
        {{ assignment['staff_member'].name }}
      </td>
    </tr>
  {% endfor %}
</table>
