<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
  <title>US Nationals Status</title>
  <style type="text/css">
    table#master {
      border: 1px solid black;
      border-collapse: collapse;
    }
    td.groupcolumn {
      border-left: 1px solid black;
      border-right: 1px solid black;
    }
    table.inner {
      width: 100%;
    }
    td.deltacell {
      text-align: right;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <h3>US Nationals Status</h3>
  <p>
    {% for day in all_days %}
      {% if day[2] %}
        <b>{{ day[1] }}</b>&nbsp;
      {% else %}
        <a href="{{ path }}?day={{ day[0] }}">{{ day[1] }}</a>&nbsp;
      {% endif %}
    {% endfor %}
  </p>
  <table id="master">
    <tr>
      {% for stage in all_stages %}
        <th style="background-color: {{ stage.color_hex }}">{{ stage.name }}</th>
      {% endfor %}
    </tr>
    {% for hour in all_hours %}
      <tr>
        {% for stage in all_stages %}
          {% set groups = group_dict[hour][stage.key.id()] %}
          <td class="groupcolumn">
            <table class="inner">
              {% for group in groups %}
                <tr>
                  <td>{{ Formatters.FormatTime(group) }}</td>
                  <td>{{ Formatters.FormatGroup(group) }}</td>
                  <td class="deltacell" style="color: {{ Formatters.DeltaColor(group) }}">
                    {{ Formatters.FormatDelta(group) }}
                  </td>
                  {% if is_admin and group.number >= 0 %}
                    <td><a href="{{ uri_for('admin_notification', event_id=group.round.get().event.id(), round_id=group.round.get().number, stage_id=group.stage.id(), group_number=group.number) }}">[call]</a></td>
                  {% endif %}
                </tr>
              {% endfor %}
            </table>
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
</body>
</html>
{% endautoescape %}
